** trx-sales-xbr-subscriber-fgl: runmqsc.template

DEFINE QLOCAL(${SUBSCRIBER_IN_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-sales-xbr-subscriber-fgl backout queue') REPLACE
DEFINE QLOCAL(${SUBSCRIBER_IN}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOQNAME(${SUBSCRIBER_IN_BO}) BOTHRESH(5) DESCR('trx-sales-xbr-subscriber-fgl local queue') REPLACE
DEFINE QALIAS(SEND.${SUBSCRIBER_IN}) TARGET(${SUBSCRIBER_IN}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${SUBSCRIBER_IN}) TARGET(${SUBSCRIBER_IN}) DEFPSIST(YES) REPLACE
DEFINE SUB(${SUB_SALESRAW}) TOPICSTR(${SLSRW_TOPICSTR}) DESTCLAS(PROVIDED) WSCHEMA(CHAR) DEST(SEND.${SUBSCRIBER_IN}) REPLACE
DEFINE QALIAS(SEND.${SUBSCRIBER_OUT}) TARGET(${SUBSCRIBER_OUT}) DEFPSIST(YES) REPLACE

