DEFINE QALIAS(SEND.${PRICEADV_INIT_IN_DS}) TARGET(${PRICEADV_INIT_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${PRICEADV_INIT_IN_DS}) TARGET(${PRICEADV_INIT_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${PRICEADV_INIT_IN_BO_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('dat-priceadvanced-pmm-outbound-file-fgl BO of input queue') REPLACE
DEFINE QLOCAL(${PRICEADV_INIT_IN_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES)  BOTHRESH(5) BOQNAME(${PRICEADV_INIT_IN_BO_DS}) REPLACE
DEFINE QALIAS(SEND.${PRICEADV_INIT_OUT_IB}) TARGET(${../source/dat-priceadvanced-pos-outbound-file-fgl/template-default.properties:PRICEADV_INIT_IN_IB}) DEFPSIST(YES) REPLACE