DEFINE QALIAS(SEND.${PRD_BATCH_IN_DS}) TARGET(${PRD_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${PRD_BATCH_IN_DS}) TARGET(${PRD_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${PRD_BATCH_IN_BO_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('dat-product-pmm-publisher-fgl backout queue') REPLACE
DEFINE QLOCAL(${PRD_BATCH_IN_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${PRD_BATCH_IN_BO_DS}) REPLACE
DEFINE TOPIC(${PRD_TOPIC}) TOPICSTR('${PRD_TOPICSTR}') PMSGDLV(ALL) NPMSGDLV(ASPARENT) REPLACE