** trx-consignmentpaid-dom-inbound-fgl: runmqsc.template
DEFINE QALIAS(RECV.${CONSIGNPAID_IN}) DEFPSIST(YES) TARGET(${CONSIGNPAID_IN}) NOREPLACE
DEFINE QLOCAL(${CONSIGNPAID_IN_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-consignmentpaid-dom-inbound-fgl BO of input queue') NOREPLACE
DEFINE QLOCAL(${CONSIGNPAID_IN}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${CONSIGNPAID_IN_BO}) NOREPLACE