dat.tax.pmm.initial_load#IIBInboundQueue=RECV.${TAX_RATES_INIT_IN_DS}
dat.tax.pmm.initial_load#IIBOutboundQueue=SEND.${TAX_RATES_INIT_IN_IB}
dat.tax.pmm.initial_load#CoreAuditDataSource=AUD${ENVN}${INST}
dat.tax.pmm.initial_load#IIBDataSource=FGLRPL${ENVN}${INST}
dat.tax.pmm.initial_load#additionalInstances=${EXTRATHREADS}
dat.tax.pmm.initial_load#PreProcessorAuditEnabled=False
dat.tax.pmm.initial_load#PostProcessorAuditEnabled=False
dat.tax.pmm.initial_load#CoreArtsMessageValidation=${ARTS_VALIDATION}
dat.tax.pmm.initial_load#CoreDatastageMessageValidation=${DS_VALIDATION}