** trx-sales-pos-publisher-fgl: runmqsc.template
DEFINE QLOCAL(${SLSRW_EVENT_IN_BO_IB}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-sales-pos-publisher-fgl backout queue') REPLACE
DEFINE QALIAS(SEND.${SLSRW_EVENT_IN_BO_IB}) TARGET(${SLSRW_EVENT_IN_BO_IB}) DEFPSIST(YES) DESCR('Alias queue for trx-sales-pos-publisher-fgl backout queue') REPLACE
** Removing Cluster Queue Definitions from runmqsc.template as this Queue will be owned externally by EAI COE
** DEFINE QLOCAL(${SLSRW_EVENT_IN_IB}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(SEND.${SLSRW_EVENT_IN_BO_IB}) CLUSTER(${CLUSTER_NM}) REPLACE
DEFINE QALIAS(RECV.${SLSRW_EVENT_IN_IB}) TARGET(${SLSRW_EVENT_IN_IB}) DEFPSIST(YES) REPLACE
DEFINE TOPIC(${SLSRW_TOPIC}) TOPICSTR('${SLSRW_TOPICSTR}') REPLACE