** trx-sales-aw-subscriber-fgl: runmqsc.template
DEFINE QLOCAL(${SUB_IN_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-sales-aw-subscriber-fgl backout queue') REPLACE
DEFINE QALIAS(SEND.${SUB_IN_BO}) TARGET(${SUB_IN_BO}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${SUB_IN}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOQNAME(SEND.${SUB_IN_BO}) BOTHRESH(5) DESCR('trx-sales-aw-subscriber-fgl local queue') REPLACE
DEFINE QALIAS(RECV.${SUB_IN}) TARGET(${SUB_IN}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(SEND.${SUB_IN}) TARGET(${SUB_IN}) DEFPSIST(YES) REPLACE
DEFINE SUB(${SUB_SALESRAW}) TOPICSTR(${SLSRW_TOPICSTR}) DESTCLAS(PROVIDED) WSCHEMA(CHAR) DEST(SEND.${SUB_IN}) REPLACE
DEFINE QALIAS(SEND.${SUB_OUT}) TARGET(${SUB_OUT}) DEFPSIST(YES) REPLACE