DEFINE QALIAS(SEND.${PRC_INIT_IN_DS}) TARGET(${PRC_INIT_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${PRC_INIT_IN_DS}) TARGET(${PRC_INIT_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${PRC_INIT_IN_BO_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('dat-pricebasic-pmm-outbound-file-fgl backout queue') REPLACE
DEFINE QLOCAL(${PRC_INIT_IN_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${PRC_INIT_IN_BO_DS}) REPLACE
DEFINE QALIAS(SEND.${PRC_INIT_IN_IB}) TARGET(${../source/dat-pricebasic-pos-outbound-file-fgl/template-default.properties:PRICEBASIC_INIT_IN_IB}) DEFPSIST(YES) REPLACE