DEFINE QALIAS(RECV.${PRICEBASIC_INIT_IN_IB}) TARGET(${PRICEBASIC_INIT_IN_IB}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${PRICEBASIC_INIT_IN_IB_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('PRICEBASIC Initial Load POS Intermediate Backout Queue') REPLACE
DEFINE QLOCAL(${PRICEBASIC_INIT_IN_IB}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${PRICEBASIC_INIT_IN_IB_BO}) DESCR('PRICEBASIC Initial Load POS Intermediate Queue') REPLACE
DEFINE QLOCAL(${PRICEBASIC_INIT_IN_FAILURE_QUEUE}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('PRICEBASIC Initial Load POS Intermediate Failure Queue')  REPLACE
DEFINE QLOCAL(${PRICEBASIC_INIT_IN_FAILED_CLTNS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('PRICEBASIC Initial Load POS Collection Msg Failure Queue') REPLACE