DEFINE QALIAS(RECV.${PMM_IN}) TARGET(${PMM_IN}) REPLACE
DEFINE QLOCAL(${PMM_IN_BO}) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('etc-pmm-inbound-mww backout queue') REPLACE
DEFINE QLOCAL(${PMM_IN}) MAXDEPTH(999999999) BOTHRESH(0) DEFPSIST(YES) BOQNAME(${PMM_IN_BO}) REPLACE
