DEFINE QALIAS(SEND.${EXCRATES_BATCH_IN_DS}) TARGET(${EXCRATES_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${EXCRATES_BATCH_IN_DS}) TARGET(${EXCRATES_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${EXCRATES_BATCH_IN_DS_BO}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Backout Queue for dat-exchangerate-pmm-publisher-fgl') REPLACE
DEFINE QLOCAL(${EXCRATES_BATCH_IN_DS}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${EXCRATES_BATCH_IN_DS_BO}) REPLACE
DEFINE TOPIC(${EXCRATES_TOPIC}) TOPICSTR('${EXCRATES_TOPICSTR}') NPMSGDLV(ASPARENT) REPLACE