DEFINE QALIAS(RECV.${ROUTER_IN}) TARGET(${ROUTER_IN}) REPLACE
DEFINE QLOCAL(${ROUTER_IN_BO}) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('etc-pmm-inbound-router backout queue') REPLACE
DEFINE QLOCAL(${ROUTER_IN}) MAXDEPTH(999999999) BOTHRESH(0) DEFPSIST(YES) BOQNAME(${ROUTER_IN_BO}) REPLACE
DEFINE QALIAS(SEND.${ROUTER_OUT_FGL}) TARGET(${../source/etc-pmm-inbound-fgl/template-default.properties:PMM_IN}) REPLACE
DEFINE QALIAS(SEND.${ROUTER_OUT_MWW}) TARGET(${../source/etc-pmm-inbound-mww/template-default.properties:PMM_IN}) REPLACE
