** trx-sales-xbr-inbound-fgl: runmqsc.template
DEFINE QLOCAL(${INBOUND_IN_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-sales-xbr-inbound-fgl backout queue') REPLACE
DEFINE QLOCAL(${INBOUND_IN}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOQNAME(${INBOUND_IN_BO}) BOTHRESH(5) DESCR('trx-sales-xbr-inbound-fgl input queue') REPLACE
DEFINE QALIAS(RECV.${INBOUND_IN}) TARGET(${INBOUND_IN}) DEFPSIST(YES) REPLACE

** cutover msgflow
DEFINE QLOCAL(${CUTOVER_IN_BO}) MAXMSGL(10485760) MAXDEPTH(999999999) DESCR('trx-sales-xbr-inbound cutover backout queue') DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${CUTOVER_IN}) MAXMSGL(10485760) MAXDEPTH(999999999) BOTHRESH(5) BOQNAME(${CUTOVER_IN_BO}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${CUTOVER_IN}) TARGET(${CUTOVER_IN}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(SEND.${CUTOVER_IN}) TARGET(${CUTOVER_IN}) DEFPSIST(YES) REPLACE