## Send alias queues
DEFINE QALIAS(SEND.${CALDC_DOM_CONSIGNCANCELLED_IN}) TARGET(${CALDC}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(SEND.${MISDC_DOM_CONSIGNCANCELLED_IN}) TARGET(${MISDC}) DEFPSIST(YES) REPLACE