** trx-sales-aw-inbound-fgl: runmqsc.template
DEFINE QLOCAL(${INBOUND_IN_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-sales-aw-inbound-fgl backout queue') REPLACE
DEFINE QALIAS(SEND.${INBOUND_IN_BO}) TARGET(${INBOUND_IN_BO}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${INBOUND_IN}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOQNAME(SEND.${INBOUND_IN_BO}) BOTHRESH(5) DESCR('trx-sales-aw-inbound-fgl input queue') REPLACE

DEFINE QLOCAL(${INBOUND_FAILURE_QUEUE}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-sales-aw-inbound-fgl collection failure queue') REPLACE

DEFINE QALIAS(RECV.${INBOUND_IN}) TARGET(${INBOUND_IN}) DEFPSIST(YES) REPLACE