DEFINE CHANNEL(EAI.IBMIB.ADMIN) CHLTYPE(SVRCONN) SSLCAUTH(OPTIONAL) SSLCIPH(' ')
DEFINE CHANNEL(EAI.IBMIB.${_ENVN}USER) CHLTYPE(SVRCONN) SSLCAUTH(OPTIONAL) SSLCIPH(' ')
DEFINE CHANNEL(EAI.IBMDS.${_ENVN}USER) CHLTYPE(SVRCONN) SSLCAUTH(OPTIONAL) SSLCIPH(' ')
DEFINE CHANNEL(EAI.IBMDS.${_ENVN}USER.${_QMGR}) CHLTYPE(CLNTCONN) TRPTYPE(TCP) CONNAME('${_HOSTNAME}(${_PORT})') QMNAME(${_QMGR}) DESCR('Channel defined for AMQCLCHL.TAB')
