DEFINE QALIAS(RECV.${PRODUCT_INIT_IN_IB}) TARGET(${PRODUCT_INIT_IN_IB}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${PRODUCT_INIT_IN_IB_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('PRODUCT Initial Load POS Intermediate Backout Queue') REPLACE
DEFINE QLOCAL(${PRODUCT_INIT_IN_IB}) MAXMSGL(104857600) MAXDEPTH(999999999) BOTHRESH(5) DEFPSIST(YES) BOQNAME(${PRODUCT_INIT_IN_IB_BO}) DESCR('Product Initial Load POS Intermediate Queue') REPLACE
DEFINE QLOCAL(${PRODUCT_INIT_IN_FAILURE_QUEUE}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('PRODUCT Initial Load POS Intermediate Failure Queue') REPLACE
DEFINE QLOCAL(${PRODUCT_INIT_IN_FAILED_CLTNS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('PRODUCT Initial Load POS Collection Msg Failure Queue') REPLACE