** trx-pickticket-dom-inbound : runmqsc.template
DEFINE QALIAS(RECV.${ORDER_IN}) TARGET(${ORDER_IN}) DEFPSIST(YES) NOREPLACE 
DEFINE QLOCAL(${ORDER_IN_BO}) MAXDEPTH(200000) BOTHRESH(5) DEFPSIST(YES)  NOREPLACE
DEFINE QLOCAL(${ORDER_IN}) MAXDEPTH(200000) BOTHRESH(5) DEFPSIST(YES) BOQNAME(${ORDER_IN_BO}) NOREPLACE
 

