## Send to trx-picticket-bridge-ems-to-mq
DEFINE QALIAS(SEND.${ORDER}) TARGET(${ORDER}) DEFPSIST(YES) NOREPLACE
DEFINE QLOCAL(${ORDER_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-ordercancel-bridge-jms-to-mq BO of input queue') NOREPLACE
DEFINE QLOCAL(${ORDER}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${ORDER_BO}) NOREPLACE