build/*
**/.idea/**
**/*.iml
configuration/*
cygmin64/*
deployment/*
documentation/*
installation/*
resources/*
**/*.class
**/xsd/**
**/dat-product-library-message-model/*
**/core-message-processor-library/*
**/common-wms-library/*
**/common-wms-library-xml/*
**/common-library/*
**/common-library-java/*
**/core-log-handler-library/*
**/core-configuration-loader-file/*
**/core-configuration-handler-library/*
**/core-cache-library/*
**/core-configuration-loader-database/*
**/core-configuration-loader-library/*
**/core-configuration-loader-system-java/*
**/core-configuration-loader-system/*
**/core-message-processor-*/*
**/common-wms*/*
**/common-library*/*
**/core-audit-*/*
**/core-cache-*/*
**/core-configuration-*/*
**/core-log-*/*
**/core-testing-*/*
**/.metadata/

## - Build temp files
**/gitstaging/**
**/git_modified_files.txt
**/.gradle/**
**/build/

**/xsd/**
**/GeneratedBarFiles/

**/any-object-*/*
**/runmqsc*.mqsc
classes/
