DEFINE QALIAS(SEND.${BU_BATCH_IN_DS}) TARGET(${BU_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${BU_BATCH_IN_DS}) TARGET(${BU_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${BU_BATCH_IN_BO_DS}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Backout Queue for dat-businessunit-pmm-publisher-fgl') REPLACE
DEFINE QLOCAL(${BU_BATCH_IN_DS}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${BU_BATCH_IN_BO_DS}) REPLACE
DEFINE TOPIC(${BU_TOPIC}) TOPICSTR('${BU_TOPICSTR}') NPMSGDLV(ASPARENT) REPLACE