** trx-sales-aw-pollingdoneflag-scheduler-fgl: runmqsc.template
DEFINE QLOCAL(${POLL_IN_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-sales-aw-pollingdoneflag-scheduler-fgl BO Queue') REPLACE
DEFINE QALIAS(SEND.${POLL_IN_BO}) TARGET(${POLL_IN_BO}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${POLL_IN}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOQNAME(SEND.${POLL_IN_BO}) BOTHRESH(5) DESCR('trx-sales-aw-pollingdoneflag-scheduler-fgl Local Queue') REPLACE
DEFINE QALIAS(SEND.${POLL_IN}) TARGET(${POLL_IN}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${POLL_IN}) TARGET(${POLL_IN}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${POLL_FAIL}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) REPLACE
DEFINE QALIAS(SEND.${POLL_FAIL}) TARGET(${POLL_FAIL}) DEFPSIST(YES) REPLACE