DEFINE QALIAS(RECV.${BU_INIT_IN_IB}) TARGET(${BU_INIT_IN_IB}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${BU_INIT_IN_BO_IB}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('BUSINESS UNIT Initial Load pos Intermediate Backout Queue') REPLACE
DEFINE QLOCAL(${BU_INIT_IN_IB}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${BU_INIT_IN_BO_IB}) DESCR('BUSINESS UNIT  Initial Load pos Intermediate Queue') REPLACE
DEFINE QLOCAL(${BU_INIT_IN__FAILURE_QUEUE})  MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('BUSINESS UNIT  Initial Load pos Intermediate Failure Queue') REPLACE
DEFINE QLOCAL(${BU_INIT_IN__FAILED_CLTNS}) MAXMSGL(104857600) MAXDEPTH(999999999)  DEFPSIST(YES) DESCR('BUSINESS UNIT  Initial Load pos Collection Msg Failure Queue') REPLACE