** Sender from doc-shipinvoice-pmm-inbound
DEFINE QALIAS(RECV.${SHIPINVOICE_IN}) TARGET(${SHIPINVOICE_IN}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${SHIPINVOICE_IN_BO}) MAXDEPTH(999999999) DESCR('doc-shipinvoice-pmm-inbound backout queue') DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${SHIPINVOICE_IN}) MAXDEPTH(999999999) BOTHRESH(5) BOQNAME(${SHIPINVOICE_IN_BO}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(SEND.${SHIPINVOICE_OUT}) TARGET(${../source/etc-pmm-inbound-router/template-default.properties:ROUTER_IN}) DEFPSIST(YES) REPLACE