DEFINE QALIAS(SEND.${TAX_EXN_BATCH_IN_DS}) TARGET(${TAX_EXN_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${TAX_EXN_BATCH_IN_DS}) TARGET(${TAX_EXN_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${TAX_EXN_BATCH_IN_BO_DS}) DESCR('dat-taxexemptions-pmm-publisher-fgl backout queue') MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${TAX_EXN_BATCH_IN_DS}) BOQNAME(${TAX_EXN_BATCH_IN_BO_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) REPLACE
DEFINE TOPIC(${TAX_EXN_TOPIC}) TOPICSTR('${TAX_EXN_TOPICSTR}') PMSGDLV(ALL)  NPMSGDLV(ASPARENT) REPLACE