## trx-ordershortage-dom-inbound-fgl: runmqsc.template
#DEFINE QALIAS(RECV.${SHORT_IN}) TARGET(${SHORT_IN}) DEFPSIST(YES) REPLACE
#DEFINE QALIAS(SEND.${SHORT_IN}) TARGET(${SHORT_IN}) DEFPSIST(YES) REPLACE  
#DEFINE QLOCAL(${SHORT_IN_BO}) MAXDEPTH(200000) BOTHRESH(5) DEFPSIST(YES)  REPLACE
#DEFINE QLOCAL(${SHORT_IN}) MAXDEPTH(200000) BOTHRESH(5) DEFPSIST(YES) BOQNAME(${ORDER_IN_BO}) REPLACE