** trx-sales-etpsadapter: runmqsc.template
DEFINE QLOCAL(${SALES_ETPSADAPTER_IN_BO}) MAXMSGL(10485760) MAXDEPTH(999999999) DESCR('trx-sales-etpsadapter backout queue') DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${SALES_ETPSADAPTER_IN}) MAXMSGL(10485760) MAXDEPTH(999999999) BOTHRESH(5) BOQNAME(${SALES_ETPSADAPTER_IN_BO}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${SALES_ETPSADAPTER_IN}) TARGET(${SALES_ETPSADAPTER_IN}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${SALES_ETPSADAPTER_RES_IN}) MAXMSGL(10485760) MAXDEPTH(999999999) DESCR('trx-sales-etpsadapter Response to Router queue') DEFPSIST(YES) REPLACE
DEFINE QALIAS(SEND.${SALES_ETPSADAPTER_RES_IN}) TARGET(${SALES_ETPSADAPTER_RES_IN}) DEFPSIST(YES) REPLACE