## Send to trx-picticketorder-bridge-ems-to-mq
DEFINE QALIAS(SEND.${ORDER_IN}) TARGET(${ORDER_IN}) DEFPSIST(YES) NOREPLACE
DEFINE QLOCAL(${ORDER_IN_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-order-bridge-jms-to-mq BO of input queue') NOREPLACE
DEFINE QLOCAL(${ORDER_IN}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${ORDER_IN_BO}) NOREPLACE