${__any__}.${__object__}.wms.subscriber#IIBInboundQueue=RECV.${SUB_IN}
${__any__}.${__object__}.wms.subscriber#IIBDataSource=STG${ENVN}${INST}
${__any__}.${__object__}.wms.subscriber#WMSOutboundQueue=SEND.${SUB_OUT}
${__any__}.${__object__}.wms.subscriber#CoreAuditDataSource=AUD${ENVN}${INST}
${__any__}.${__object__}.wms.subscriber#additionalInstances=${EXTRATHREADS}
