** ${__any__}-${__object__}-wms-subscriber: runmqsc.template
DEFINE QALIAS(SEND.${SUB_IN}) TARGET(${SUB_IN})
DEFINE SUB(${SUB_IN}) TOPICSTR('${../source/${__any__}-${__object__}-${__sys__}-publisher/template-default.properties:${_OBJECT_}_TOPICSTR}') DESTCLAS(PROVIDED) WSCHEMA(CHAR) DEST(SEND.${SUB_IN})
DEFINE QLOCAL(${SUB_IN_BO}) DESCR('${__any__}-${__object__}-wms-subscriber backout queue')
DEFINE QLOCAL(${SUB_IN}) BOQNAME(${SUB_IN_BO})
DEFINE QALIAS(RECV.${SUB_IN}) TARGET(${SUB_IN})
DEFINE QALIAS(SEND.${SUB_OUT}) TARGET(${../source/etc-wms-inbound/template-default.properties:${_DC_}})
* DEFINE QLOCAL(${../source/etc-${__dc__}-wms-inbound/template-default.properties:${_DC_}})
