build/*
configuration/*
cygmin64/*
deployment/*
documentation/*
installation/*
resources/*
**/gitstaging/**
**/common-wms-library-message-model/*
**/common-wms-library/*
**/common-wms-library-xml/*
**/common-library-msgnode/common-library-msgnode.jar
**/common-library-java/common-library-java.jar
**/common-library-msgnode-log4j-java/bin/*
**/common-library-msgnode-log4j-java/*.jar
**/common-library-msgnode-log4j-java/*.properties
**/core-audit-handler-library-java/*.jar
**/core-configuration-loader-system-java/*.jar
**/core-cache-library-java/*.jar
**/.metadata/
**/*.class
**/conf-*/*.sql
**/trx-pix*/**
**/caldc-build/*
**/caldc-*-configure/*
**/caldc-*-deploy/*
GeneratedBarFiles

*-build/
*-deploy/
