** trx-instoreordercreation-hyb-inbound-mww: runmqsc.template
DEFINE QLOCAL(${SUB_OM_INSTORE_BO}) MAXMSGL(10485760) MAXDEPTH(999999999) DESCR('trx-instoreordercreation-hyb-inbound-mww backout queue') DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${SUB_OM_INSTORE_IN}) MAXMSGL(10485760) MAXDEPTH(999999999) BOTHRESH(5) BOQNAME(${SUB_OM_INSTORE_BO}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${SUB_OM_INSTORE_IN}) TARGET(${SUB_OM_INSTORE_IN}) REPLACE
DEFINE QLOCAL(${SUB_OM_INSTORE_OUT}) MAXMSGL(10485760) MAXDEPTH(999999999) DESCR('trx-instoreordercreation-hyb-inbound-mww output queue') REPLACE
DEFINE QALIAS(SEND.${SUB_OM_INSTORE_OUT}) TARGET(${SUB_OM_INSTORE_OUT}) REPLACE

