DEFINE QALIAS(SEND.${COST_INIT_IN_IB}) TARGET(${COST_INIT_IN_IB}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${COST_INIT_IN_DS}) TARGET(${COST_INIT_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${COST_INIT_IN_BO_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('dat-cost-pmm-outbound-file-fgl BO of input queue') REPLACE
DEFINE QLOCAL(${COST_INIT_IN_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES)  BOTHRESH(5) BOQNAME(${COST_INIT_IN_BO_DS}) REPLACE
DEFINE QALIAS(SEND.${COST_INIT_IN_IB}) TARGET(${../source/dat-cost-pos-outbound-file-fgl/template-default.properties:COST_INIT_IN_IB}) DEFPSIST(YES) REPLACE