DEFINE QALIAS(SEND.${COST_BATCH_IN_DS}) TARGET(${COST_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${COST_BATCH_IN_IB}) TARGET(${COST_BATCH_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${COST_BATCH_IN_BO_DS}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Backout Queue for dat-cost-pmm-publisher-fgl') REPLACE
DEFINE QLOCAL(${COST_BATCH_IN_DS}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${COST_BATCH_IN_BO_DS}) REPLACE
DEFINE TOPIC(${COST_TOPIC}) TOPICSTR('${COST_TOPICSTR}') PMSGDLV(ALL) NPMSGDLV(ASPARENT) REPLACE