DEFINE QALIAS(SEND.${EXCRATES_INIT_IN_DS}) TARGET(${EXCRATES_INIT_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${EXCRATES_INIT_IN_DS}) TARGET(${EXCRATES_INIT_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${EXCRATES_INIT_IN_DS_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('dat-exchangerate-pmm-outbound-file-fgl BO of input queue') REPLACE
DEFINE QLOCAL(${EXCRATES_INIT_IN_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES)  BOTHRESH(5) BOQNAME(${EXCRATES_INIT_IN_DS_BO}) REPLACE
DEFINE QALIAS(SEND.${EXCRATES_INIT_IN_IB}) TARGET(${../source/dat-exchangerate-pos-outbound-file-fgl/template-default.properties:EXCRATES_IN_IB}) DEFPSIST(YES) REPLACE