DEFINE QALIAS(SEND.${TAX_EXN_INIT_IN_DS}) TARGET(${TAX_EXN_INIT_IN_DS}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${TAX_EXN_INIT_IN_DS}) TARGET(${TAX_EXN_INIT_IN_DS}) DEFPSIST(YES) REPLACE  
DEFINE QLOCAL(${TAX_EXN_INIT_IN_BO_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('dat-taxexemptions-pmm-outbound-file-fgl backout queue') REPLACE
DEFINE QLOCAL(${TAX_EXN_INIT_IN_DS}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${TAX_EXN_INIT_IN_BO_DS}) REPLACE
DEFINE QALIAS(SEND.${TAX_EXN_INIT_IN_IB}) TARGET(${../source/dat-taxexemptions-pos-outbound-file-fgl/template-default.properties:TAXEXCE_INIT_IN_IB}) DEFPSIST(YES) REPLACE