DEFINE QALIAS(RECV.${COST_INIT_IN_IB}) TARGET(${COST_INIT_IN_IB}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${COST_INIT_IN_IB_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('COST Initial Load FPOS Intermediate Backout Queue') REPLACE
DEFINE QLOCAL(${COST_INIT_IN_IB}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${COST_INIT_IN_IB_BO}) DESCR('COST Initial Load FPOS Intermediate Queue') REPLACE
DEFINE QLOCAL(${COST_INIT_IN_FAILURE_QUEUE})  MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('COST Initial Load FPOS Intermediate Failure Queue') REPLACE
DEFINE QLOCAL(${COST_INIT_IN_FAILED_CLTNS}) MAXMSGL(104857600) MAXDEPTH(999999999)  DEFPSIST(YES) DESCR('COST Initial Load FPOS Collection Msg Failure Queue') REPLACE