** doc-orderstatus-hyb-outbound-mww: runmqsc.template
DEFINE QLOCAL(${ORDSTS_IN_BO}) MAXMSGL(10485760) MAXDEPTH(999999999) DESCR('doc-orderstatus-hyb-outbound-mww backout queue') DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${ORDSTS_IN}) MAXMSGL(10485760) MAXDEPTH(999999999) BOTHRESH(5) BOQNAME(${ORDSTS_IN_BO}) DEFPSIST(YES) CLUSTER(${CLUSTER_NAME}) REPLACE
DEFINE QALIAS(RECV.${ORDSTS_IN}) TARGET(${ORDSTS_IN}) REPLACE
DEFINE QALIAS(SEND.${ORDSTS_IN}) TARGET(${ORDSTS_EPM_HY}) REPLACE
DEFINE QALIAS(SEND.${ORDSTS_OUT}) TARGET(DOTCOM_Q_DC7) REPLACE
DEFINE QREMOTE(DOTCOM_Q_DC7) XMITQ(DOTCOM.XMITQ) RNAME(DOTCOM_Q_DC7) RQMNAME(DOTCOM) DEFPSIST(YES) DESCR('Remote Queue to WESB from IIB') PUT(ENABLED) REPLACE