## Send to consignmentpaid-bridge-jms-to-mq
DEFINE QALIAS(SEND.${CONSIGN_PAID}) TARGET(${CONSIGN_PAID}) DEFPSIST(YES) NOREPLACE
DEFINE QLOCAL(${CONSIGN_PAID_BO}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) DESCR('trx-consignpaid-bridge-jms-to-mq BO of input queue') NOREPLACE
DEFINE QLOCAL(${CONSIGN_PAID}) MAXMSGL(104857600) MAXDEPTH(999999999) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${CONSIGN_PAID_BO}) NOREPLACE