** trx-ordercreation-hyb-inbound-mww: runmqsc.template
DEFINE QLOCAL(${SUB_OM_WEB_BO}) MAXMSGL(10485760) MAXDEPTH(999999999) DESCR('trx-ordercreation-hyb-inbound-mww backout queue') DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${SUB_OM_WEB_IN}) MAXMSGL(10485760) MAXDEPTH(999999999) BOTHRESH(5) BOQNAME(${SUB_OM_WEB_BO}) DEFPSIST(YES) REPLACE
DEFINE QALIAS(RECV.${SUB_OM_WEB_IN}) TARGET(${SUB_OM_WEB_IN_EPM}) REPLACE
**DEFINE QLOCAL(${SUB_OM_WEB_OUT}) MAXMSGL(10485760) MAXDEPTH(999999999) DESCR('trx-ordercreation-hyb-inbound-mww output queue') DEFPSIST(YES) REPLACE
DEFINE QALIAS(SEND.${SUB_OM_WEB_OUT}) TARGET(${SUB_OM_WEB_TARGET}) REPLACE

