DEFINE QALIAS(RECV.${PRD_HRCHY_INIT_IN_IB}) TARGET(${PRD_HRCHY_INIT_IN_IB}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${PRD_HRCHY_INIT_IN_IB_BO}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Product Hierarchy Initial Load FPOS Intermediate Backout Queue') REPLACE
DEFINE QLOCAL(${PRD_HRCHY_INIT_IN_IB}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${PRD_HRCHY_INIT_IN_IB_BO}) DESCR('Product Hierarchy Initial Load FPOS Intermediate Queue') REPLACE
DEFINE QLOCAL(${PRD_HRCHY_INIT_IN_FAILURE_QUEUE}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Product Hierarchy Initial Load FPOS Intermediate Failure Queue') REPLACE
DEFINE QLOCAL(${PRD_HRCHY_INIT_IN_FAILED_CLTNS}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Product HIerarchy Initial Load FPOS Collection Msg Failure Queue') REPLACE