DEFINE QALIAS(RECV.${TAXEXCE_INIT_IN_IB}) TARGET(${TAXEXCE_INIT_IN_IB}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${TAXEXCE_INIT_IN_IB_BO}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Tax Exemptions Initial Load POS Intermediate Backout Queue') REPLACE
DEFINE QLOCAL(${TAXEXCE_INIT_IN_IB}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${TAXEXCE_INIT_IN_IB_BO}) DESCR('Tax Exemptions Initial Load POS Intermediate Queue') REPLACE
DEFINE QLOCAL(${TAXEXCE_INIT_IN_FAILURE_QUEUE}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Tax Exemptions Initial Load POS Intermediate Failure Queue') REPLACE
DEFINE QLOCAL(${TAXEXCE_INIT_IN_FAILED_CLTNS}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Tax Exemptions Initial Load POS Collection Msg Failure Queue') REPLACE