DEFINE QALIAS(RECV.${TAX_RATES_INIT_IN_IB}) TARGET(${TAX_RATES_INIT_IN_IB}) DEFPSIST(YES) REPLACE
DEFINE QLOCAL(${TAX_RATES_INIT_IN_IB_BO}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Tax Rates Initial Load FPOS Intermediate Backout Queue') REPLACE
DEFINE QLOCAL(${TAX_RATES_INIT_IN_IB}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) BOTHRESH(5) BOQNAME(${TAX_RATES_INIT_IN_IB_BO}) DESCR('Tax Rates Initial Load FPOS Intermediate Queue') REPLACE
DEFINE QLOCAL(${TAX_RATES_INIT_IN_FAILURE_QUEUE}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Tax Rates Initial Load FPOS Intermediate Failure Queue') REPLACE
DEFINE QLOCAL(${TAX_RATES_INIT_IN_FAILED_CLTNS}) MAXDEPTH(999999999) MAXMSGL(104857600) DEFPSIST(YES) DESCR('Tax Rates Initial Load FPOS Collection Msg Failure Queue') REPLACE