DROP SEQUENCE IIB.WM_PRODUCT_BATCHCTRL_SEQ;

CREATE SEQUENCE IIB.WM_PRODUCT_BATCHCTRL_SEQ
  INCREMENT BY 1
  START WITH 100008660
  NOMAXVALUE
  NOMINVALUE
  NOCYCLE
  CACHE 20
  NOORDER;

--GRANT SELECT ON IIB.WM_PRODUCT_BATCHCTRL_SEQ TO datastage;
