DROP TABLE IIB.IIB_WM_PIX_TRAN_TYPE;

CREATE TABLE IIB.IIB_WM_PIX_TRAN_TYPE(
 PXTXTP VARCHAR2(3 BYTE), 
 PXTXCD VARCHAR2(3 BYTE), 
 PXACCD VARCHAR2(3 BYTE) DEFAULT ' ', 
 PXRSCD VARCHAR2(2 BYTE) DEFAULT ' ', 
 PXCO VARCHAR2(5 BYTE) DEFAULT ' ', 
 TRANSACTION_TYPE VARCHAR2(50 BYTE) DEFAULT ' ', 
 QUEUE_NAME VARCHAR2(48 BYTE)
);
