--DROP SEQUENCE IIB.IIB_SIZE_RANGE_CODE_SEQ
--DROP SEQUENCE IIB.IIB_SQNC_MDC_WMS_SZ_RNG_CD
CREATE SEQUENCE IIB.IIB_SQNC_MDC_WMS_SZ_RNG_CD
 MINVALUE 0
 MAXVALUE 999999999999999999999999999
 INCREMENT BY 1
 START WITH 280
 CACHE 20
 NOORDER
 NOCYCLE;
