INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('5',20);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('6',21);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('8',22);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('9',23);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('7',24);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('10',25);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('11',26);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('12',27);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('13',28);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('14',29);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('15',30);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('16',31);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('17',32);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('18',33);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('19',34);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('20',35);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('21',36);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('22',37);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('23',38);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('24',39);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('25',40);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('26',41);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('27',42);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('28',43);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('29',44);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('30',45);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('31',46);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('32',47);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('33',48);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('34',49);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('35',50);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('36',51);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('37',52);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('38',53);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('39',54);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('40',55);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('41',56);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('42',57);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('43',58);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('44',59);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('45',60);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('46',61);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('47',62);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('48',63);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('49',64);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('50',65);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('51',66);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('52',67);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('53',68);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('54',69);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('55',70);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('56',71);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('57',72);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('58',73);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('59',74);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('60',75);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('61',76);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('62',77);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('63',78);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('64',79);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('65',80);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('66',81);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('67',82);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('68',83);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('69',84);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('70',85);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('71',86);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('72',87);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('73',88);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('74',89);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('75',90);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('76',91);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('77',92);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('78',93);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('79',94);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('80',95);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('81',96);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('82',97);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('83',98);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('84',99);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('85',100);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('86',101);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('87',102);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('88',103);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('89',104);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('90',105);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('91',106);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92',107);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('93',108);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('94',109);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('95',110);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('96',111);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('72157',112);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('80216',113);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92781',114);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92782',115);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92783',116);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92784',117);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92785',118);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92786',119);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92789',140);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92788',120);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92806',200);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92808',240);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92814',260);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92796',160);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92802',220);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92804',180);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92816',280);
INSERT INTO IIB.IIB_SIZE_RANGE_CODE("KEY",CODE) VALUES('92817',281);
COMMIT;