INSERT INTO IIB.WM_PIX_TRAN_TYPE(PIX_TYPE,PIX_CODE,ACTION_CODE,REASON_CODE,BUSINESS_UNIT,PIX_TRANSACTION,QUEUE_NAME) VALUES ('601','001','  ','35','FGL','CONSIGNMENT_PICKED','${CONSIGN_PICKED_FGL}');
INSERT INTO IIB.WM_PIX_TRAN_TYPE(PIX_TYPE,PIX_CODE,ACTION_CODE,REASON_CODE,BUSINESS_UNIT,PIX_TRANSACTION,QUEUE_NAME) VALUES ('601','001','  ','40','FGL','CONSIGNMENT_PACKED','${CONSIGN_PACKED_FGL}');
