cat ${_PATH_PLSQL}/sqlplus-DV.sql|perl -e 'while(<>){s/(.*\S)\s*/$1/;print"$_\n"}' > ${_PATH_PLSQL}/sqlplus.sql~;mv ${_PATH_PLSQL}/sqlplus.sql~ ${_PATH_PLSQL}/sqlplus-DV.sql
/opt/oracle/product/11.2.0.1/bin/sqlplus -s ${../resources/credentials-DV.properties:MDR_DB_USER}/${../resources/credentials-DV.properties:MDR_DB_PASSWORD}@${../source/conf-odbc-datasources/template-DV.properties:MDR_DB_DSN} @${_PATH_PLSQL}/sqlplus-DV.sql